@namespace svg url(http://www.w3.org/2000/svg);

      @font-face{
        font-family:"gotham-pro-bold";
        font-family:"gotham-pro-bold";
        src:url("gotham-pro-bold.woff")
        format("woff");
        font-weight:
        normal;
        font-style:normal;
      }

      @font-face{
        font-family:"gotham-pro-light";
        font-family:"gotham-pro-light";
        src:url("gotham-pro-light.woff")
        format("woff");
        font-weight:
        normal;
        font-style:normal;
      }      
      
      @font-face {
      font-family: "Tall Films";
      src: url("Tall-Films/Tall Film.ttf");
      }

      @font-face {
      font-family: "Gogoia";
      src: url("Gogoia/GOGOIA-Regular.otf");
      }

      @font-face {
      font-family: "Axis";
      src: url("Axis Extrabold.otf");
      }

      body {
        display: flex;
        margin: 0px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
        font-weight: 500;
        background-color: #222;
        color: #ADADAD;
        /*min-width: 950px;*/
        /*background-color: #121924;*/
        /*background-image: url("bg.svg");
        background-size: 100vw 100vh;
        background-attachment: fixed;*/
        /*font-family: 'PT Sans', sans-serif;*/
      }


      #sidebar {
        display: none;
        padding-top: 10vh; /*CHANGE THIS*/
        padding-right: 20px;
        flex: 1;
        border: 5px solid yellow;
        /*flex-basis: 33%; /*not sure if i need this*/
      }
/*
      #sidebar > a {
        color: inherit !important;
        text-decoration: none !important;
      }

      */

      #content {
        width: 100%;
        /*flex: 3;*/
      }


      .flex-container {
        display: flex;
        min-height: 80vh;
        flex-direction: column;
      }

      .side-text {
        display: flex;
        justify-content: center;
      }

      .centering {
        max-width: 800px;
      }

      #page1 .flex-container {
        flex-direction: column;
        justify-content: space-around;
        min-height: 90vh;
        height: auto;
      }

      #page1 {
        min-height: 80vh;
        padding-right: 5vw;
        padding-left: 5vw;
        padding-bottom: 10vh;

        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url("https://static.pexels.com/photos/371553/pexels-photo-371553.jpeg");
        background-position: center bottom;
        background-size: cover;
      }

      #page2 {
        /*border: 2px solid #A47DF2;*/
        min-height: 80vh;
        padding-bottom: 10vh;
        padding-right: 5vw;
        padding-left: 5vw;
        padding-top: 10vh;
      }

      #page3 {
        /*border: 2px solid #F2F0B3;*/
        min-height: 80vh;
        padding-bottom: 10vh;
        padding-right: 5vw;
        padding-left: 5vw;
        padding-top: 10vh;
        background-color: #111;
      }

      #page4 {
        /*border: 2px solid #ED6DD3;*/
        min-height: 90vh;
        padding-right: 5vw;
        padding-left: 5vw;
        padding-top: 10vh;
      }




      #name {
        vertical-align: bottom;
        text-align: center;
        font-size: 20vmin;
        font-family: "gotham-pro-bold";
        padding-top: 15vmin;
        color:  #7FCDE0;/*#38B77A;*/
        /*margin-bottom: -5vw;*/
        /*padding-right: 5vw;*/
      }

      svg {
        width: inherit;
        position: fixed;
        padding-left: 5vw;
        padding-right: 5vw; /*TODO - MEDIA QUERY*/
      }

      .angle-down-wrap {
        width: 100%;
        text-align: center;
      }

/*///////////// UI \\\\\\\\\\\\\\\\\*/
      .project {
        display: flex;
        font-size: 10pt;
        margin-bottom: 15px;
        float: left;
      }

      .visual {
        margin-right: 20px;
      }

/*\\\\\\\\\\/* /UI //////////////////*/

.project-wrap {
  display: flex;
  flex-flow: row;
  margin: 5px;
  padding: 15px;
  background-color: #1a1a1a;
  flex-grow: 1;
}

#project-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

  .project-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    flex-flow: row wrap;
  }

  .project-img {
    /*background-image: url("http://laparks.org/sites/default/files/pershingsquare/assets/base/img/content2/PS_BGShard1.jpg");*/
    background-size: cover;
    background-position: center;
    width: 180px;
    height: 180px;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .project-blurb {
    text-align: center;
    width: 160px;
    padding: 10px;
    flex-grow: 1;
  }



      h1 {
        /*font-family: 'PT Sans', sans-serif;*/
        font-family: "gotham-pro-bold";
        font-weight: bold;
      }

      h2 {
        font-family: "gotham-pro-bold";
      }

      h6 {
        font-family: "gotham-pro-bold";
        margin: -10px;
        margin-left: 0px;
      }

      h1, h2 {
        color: #7FCDE0;
      }

      h6 {
        /*color: #121924;
        color: #232C4C;*/
        color: #C58EA5;/*#FD7C6E;*/
      }

      .clipper {
        height: 0px;
      }

#navbar {
  display: none;
  z-index: 1;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  /*background-image: url("bg.svg");
  background-size: auto 12vh;*/
  background-color: #222;
  font-size: 7vh;
  box-shadow: inset 0px -100px 100px -100px #111, 0 0 100px #0d0d0d;
}

#navbarname {
  padding-top: 1vh;
  padding-left: 1vw;
  font-family: "gotham-pro-light";
  margin-top: 1vh;
}

#navbarname > a {
  text-decoration: none;
  color: inherit;
  display: block;
}

#navbaricons {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 33vw;
  min-width: 27vh;
  height: inherit;
  display: flex;
}

.navbaricons a {
  width: inherit;
}

.navbaricon {
  display: inline-block;
  width: inherit;
  height: 8vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin-right: 1vh;
  min-width: 8vh;
  margin-top: 1vh;
}

#heroicons {
  height: 15vmax;
  display: flex;
  justify-content: space-around;
}

.heroicon {
  min-width: 20vmax;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}



.codericon {
  background-image: url("coder.svg");
}

.pencilicon {
  background-image: url("pencil.svg"); 
}

.scalesicon {
  background-image: url("scales.svg"); 
}

#computericon {
  position: fixed;
  z-index: 0;
  top: 10vh;
  left: -5vw;
  width: 20vw;
}

.path {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
}

.screen-shadow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  -moz-box-shadow: inset 0 -33vh 33vh -33vh #111;
  -webkit-box-shadow: inset 0 -33vh 33vh -33vh #111;
  box-shadow: inset 0 -33vh 33vh -33vh #111;
}

.workexperience {
  display: flex;
  align-items: flex-start;
  flex: 1 0 400px;
}

.workdescription {
  flex: 7;
}

.workexperience > a {
  flex: 0;
  margin: 15px;
}

.work-container {
  display: flex;
  flex-flow: row wrap;
}