body{
	width:100%;
	height:100%;
	margin:0px;
}

#header {
	padding:0px;
	height:40px;
	width: 100%;
	background-color: #4CAF50;
	color: white;
	font-family:verdana;
	position:static 0px 0px;
}

#header a {
	color: inherit;
	text-decoration: none;
}

.button {
    background-color: #4CAF50;
    border-right: 1px solid white;
    color: white;
    padding: 11px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left: -5px;
    cursor: pointer;
}

.button:hover {
	background-color: #3e8e41;
}

#content {
	margin:40px;
	text-align: center;
	font-family: "helvetica neue";
	margin-left:10vw;
	margin-right:10vw;
	overflow-y:scroll;
}

#content img{
	max-height: 80vh;
	max-width:80vw;
}

#resume {
	text-align: left;
}