#body {
	    background-color: lightblue;
}

#content {
	margin-left: 50px;
	margin-top: 50px;
}

#text {
     font-family: Georgia;
}

#h1 {
   font-family: Helvetica Neue;
   font-size: 24px;
}

#h2 {
    font-family: Helvetica Neue;
    font-size: 20px;
}